<div class="container py-5">
  <div class="row align-items-center">
    <div class="col-lg-7">
      <div>
        <small class="text-muted">Welcome to my portfolio!</small>
        <h1 class="fw-bold mt-2">Hey folks, I'm <span class="text-primary">Avinash Suryawanshi</span></h1>
        <p class="mt-3">
          Building a successful product is a challenge. I am highly energetic in
          user experience design, interfaces, and web development.
        </p>
        <div class="mt-4">
          <a href="#" class="btn btn-outline-primary me-2">
            <i class="uil uil-file-alt"></i> Download Resume
          </a>
          <a routerLink="/contact" class="btn btn-primary">Get a free quote</a>
        </div>
      </div>
    </div>
    <div class="col-lg-5 text-center mt-4 mt-lg-0">
      <img
        src="assets/images/undraw_software_engineer.svg"
        class="img-fluid"
        alt="Software Engineer"
      />
    </div>
  </div>
</div>
